.App {
  max-width: 600px;
  margin: auto;
}

.ListItem {
  list-style-type: none;
}

.ListItem article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #204462;
  align-items: center;
}
.ListItem button {
  display: inline;
  width: auto;
}
/* https://github.com/jonasholbech/mini-todo-list-s23 */
